{% extends 'home/base.html' %}

{% block content %}

	<!--================ Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
                    <h3 class="btn btn-primary" style="font-size: xx-large;font:italic; font-family: cursive;"> Login Here</h3>
                    <form action="" method="POST">
                        {%csrf_token %}
						{{form.as_table}}
						<br>
						<br>
                        <input class="primary_btn mr-20" type="submit" value="LOGIN"/>
                    </form>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->


{% endblock content %}
